
{% extends 'base.html' %}

{% block title %}À propos de Nous - Salford & MSNLM Sar{% endblock %}

{% block content %}
    <header>
        <h1 class="text-center">Qui sommes-nous ?</h1>
    </header>
    <main>
        <section class="container mt-4">
            <h2>Notre Histoire</h2>
            <p>Fondée en 2020, Salford & MSNLM Sarl a été créée pour répondre aux besoins de logement des étudiants et jeunes professionnels. Avec des années d’expérience, nous nous engageons à fournir un environnement confortable et sécurisé.</p>
            <p>Au fil des années, nous avons aidé plus de 500 étudiants à trouver un logement idéal, et nous continuons à nous développer avec des résidences modernes et bien situées.</p>
        </section>
        <section class="container mt-4">
            <h2>Notre Mission</h2>
            <p>Offrir des solutions de logement abordables et de qualité, tout en créant une expérience de vie positive et enrichissante pour nos résidents.</p>
            <p>Nous nous engageons à établir une relation de confiance avec nos clients en fournissant des services personnalisés et professionnels.</p>
        </section>
        <section class="container mt-4">
            <h2>Nos Valeurs</h2>
            <ul>
                <li><strong>Qualité :</strong> Nous nous assurons que nos logements respectent des normes élevées.</li>
                <li><strong>Sécurité :</strong> La tranquillité de nos résidents est notre priorité.</li>
                <li><strong>Accessibilité :</strong> Offrir des prix compétitifs sans compromettre la qualité.</li>
            </ul>
        </section>
    </main>
{% endblock %}
