{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary d-flex justify-content-between align-items-center">
  <div class="col-lg-8 px-0">
    <h1 class="blog-header-logo text-body-emphasis text-decoration-none .header-title { ">MSNLM Sarl Service de Logement</h1>
    <h3>Notre Histoire</h3>
    <p class="lead my-3">Fondée en 2020, notre entreprise s'engage à offrir des solutions de logement de qualité aux étudiants.</p>
    <p class="lead mb-0">
      <a href="{{ url_for('app_bp.about') }}" class="text-body-emphasis fw-bold">Continue reading...</a>
    </p>
  </div>
  <div class="col-lg-4 text-end">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" style="max-height: 400px; max-width: 100%; object-fit: contain;" class="logo">
  </div>
</div>

<h3 class="pb-4 mb-4 fst-italic border-bottom">Chambres Disponibles</h3>

<div class="row mb-2">
  {% for room in rooms %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ room.title }}</h3>
          <strong class="d-inline-block mb-2 text-primary-emphasis">Description: {{ room.description }}</strong>
          <div class="mb-1 text-body-secondary">{{ room.location }}</div>
          <p class="card-text mb-auto">
            <li>{{ room.features }}</li>
            <h4>Prix : {{ room.price }} FCFA / mois</h4>
          </p>
          <a href="{{ url_for('app_bp.room_details', room_id=room.id) }}" class="icon-link gap-1 icon-link-hover stretched-link">Voir plus</a>
        </div>
        <div class="col-auto d-none d-lg-block position-relative">
          {% if room.images and room.images[0] %}
            <img src="data:image/jpeg;base64,{{ room.images[0]['data'] }}" alt="Image de {{ room.title }}" class="bd-placeholder-img img-fluid" style="width: 200px; height: 250px; object-fit: cover;">
          {% else %}
            <img src="{{ url_for('static', filename='images/default-room.jpg') }}" alt="Image par défaut" class="bd-placeholder-img img-fluid" style="width: 200px; height: 250px; object-fit: cover;">
          {% endif %}
          <div class="position-absolute top-50 start-50 translate-middle text-white fw-bold bg-dark bg-opacity-50 px-2 py-1 rounded">Bon prix !!!</div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

