{% extends 'base.html' %}

{% block title %}Mes Réservations{% endblock %}

{% block content %}
    <h1 class="my-4 text-center">Mes Réservations</h1>

    {% if reservations %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered align-middle">
                <thead class="table-dark text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Chambre</th>
                        <th scope="col">Date de Réservation</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td class="text-center">{{ loop.index }}</td>
                            <td class="text-center">{{ reservation.room_id }}</td>
                            <td class="text-center">{{ reservation.reservation_date }}</td>
                            <td class="text-center">
                                <form action="{{ url_for('app_bp.add_payment', room_id=reservation.id) }}" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-success btn-sm">Payer</button>
                                </form>
                                <form action="{{ url_for('app_bp.cancel', reservation_id=reservation.id) }}" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm">Annuler</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info text-center" role="alert">
            Vous n'avez aucune réservation pour le moment.
        </div>
    {% endif %}
{% endblock %}

