<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement par Visa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_payement_visa.css') }}">
</head>
<body>
    <div class="form-container">
        <img src="{{ url_for('static', filename='visa.png') }}" alt="Visa Logo" width="100">
        <h1>Paiement par Visa</h1>
        <form method="POST" action="{{ url_for('execute_ussd_visa') }}">
            <div class="form-group">
                <label for="montant">Montant à payer (CFA)</label>
                <input type="number" id="montant" name="montant" placeholder="Entrez le montant" required>
            </div>
        
            <div class="form-group">
                <label for="visa-number">Numéro de la carte Visa</label>
                <input type="text" id="visa-number" name="visa-number" placeholder="Entrez le numéro de la carte" required>
            </div>
        
            <button type="submit">Payer</button>
        </form>

        <p>Payer en toute sécurité avec votre carte Visa</p>
        <p>- Contactez votre banque pour plus d'informations</p>
    </div>
</body>
</html>